<div class="containerCards">
    <h1>- PRODUCTS - </h1>
    <div id="allProducts">
        {{#each products}}
            <div class="products">
                <h2>{{this.title}}</h2>
                <p><strong>Description:</strong> {{this.description}}</p>
                <p><strong>Price:</strong> {{this.price}}</p>
                <p><strong>Code:</strong> {{this.code}}</p>
                <p><strong>Category:</strong> {{this.category}}</p>
                <p><strong>Stock:</strong> {{this.stock}}</p>
                <p><strong>Status:</strong> {{#if this.status}}Available{{else}}Not available{{/if}}</p>
            </div>
        {{/each}}
    </div>
</div>
